html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    font-family: "Tahoma", "Verdana", sans-serif;
    margin: 0;
    height: 100%;
}

.main {
    padding: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .content, .footer {
    padding: 16px
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

li a {
    font-weight: normal;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.content {
    flex: 1;
    gap: 24px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .left-column {
    text-align: left;
    flex: 1;
}

.hero .right-column {
    background-color: slategrey;
    color: white;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-width: 0;
    border-radius: 6px;
    color: #E5E7EB;
    padding: 6px 24px;
}

.image-placeholder {
    text-align: center;
    padding: 0;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.information .main-text {
    flex: 1;
}

.card-reel {
    display: flex;
    gap: 8px;
}

.quote {
    background-color: #E5E7EB;
}

.call-to-action {
    background-color: #3882F6;
}
