html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    font-family: "Tahoma", "Verdana", sans-serif;
    margin: 0;
    height: 100%;
}

body div {
    padding: 0px 96px
}

.main {
    padding: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.call-to-action {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    flex: 1;
}

ul {
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

/*
I'm not convinced by the size and color of these.
I think they match the specs, but they look off compared to the screenshot.
*/
li a {
    font-weight: normal;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
