body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    margin: 0px;
}

body div {
    padding: 0px 96px
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.call-to-action {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}